.banner_index{
    background-image: url(../img/banner%20index.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    font-family: 'Cinzel', serif;
    color: white;
}

.banner_index > .caja_izquierda > h2{
    font-size: 40px;
    text-align: left;
}
margin:auto; centra segun el tamaño de la caja 
margin-top?
margin-left?
position?


}
.botton_2{
display: block;
background-color: #0798F2;
width: 80px;
padding: 10px 40px 10px 40px;
border-radius: 20px;
text-align: center;
color: #fff;
text-decoration: none;
font-size: 15px;
    
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);   
}
.botton_2:hover{
    background-color: #0798F2;
    color: black;
    width: 120px;
    transition: 0.3s;
}
.botton_2{
display: block;
background-color: #0798F2;
width: 80px;
padding: 10px 40px 10px 40px;
border-radius: 20px;
text-align: center;
color: #fff;
text-decoration: none;
font-size: 15px;
    
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);   
}
.botton_2:hover{
    background-color: #0798F2;
    color: black;
    width: 120px;
    transition: 0.3s;
}
.botton_0{
display: block;
background-color: #0798F2;
width: 80px;
padding: 10px 40px 10px 40px;
border-radius: 20px;
text-align: center;
color: #fff;
text-decoration: none;
font-size: 15px;
    
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);   
}
.botton_0:hover{
    background-color: #0798F2;
    color: black;
    width: 120px;
    transition: 0.3s;
}
.botton_0{
display: block;
background-color: #0798F2;
width: 80px;
padding: 10px 40px 10px 40px;
border-radius: 20px;
text-align: center;
color: #fff;
text-decoration: none;
font-size: 15px;
    
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);   
}
.botton_0:hover{
    background-color: #0798F2;
    color: black;
    width: 120px;
    transition: 0.3s;
}